<!DOCTYPE html>
<html>
  <head>
    <title>MSGBRD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <div class="error">
        <h1><%= message %></h1>
        <a href="/">HOME</a>
      </div>
    </main>
  </body>
</html>
