<!DOCTYPE html>
<html>
  <head>
    <title>MSGBRD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <h1>MSGBRD</h1>
      <nav>
        <a href="/new">new post</a>
        <a class="ml-1" href="/signin">sign in</a>
        <a class="ml-1" href="/signup">sign up</a>
      </nav>
      <% if (user) { %>
        <h4 class="mt-1"><%= user.username %></h4>
      <% } else { %>
        <h4 class="mt-1">YOU ARE NOT LOGGED IN</h4>
      <% } %>
      <div class="mt-2">
        <% posts.forEach(function(post){ %>
          <div class="post mt-1">
            <h4><%= post.title %></h4>
            <span class="mt-1"><%= post.date %></span>
            <p class="mt-1"><%= post.post %></p>
          </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
