<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <a href="/new">new post</a>
      <div>
        <% posts.forEach(function(post){ %>
          <div><%= post.title %></div>
          <div><%= post.post %></div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
