<!DOCTYPE html>
<html>
  <head>
    <title>MSGBRD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>MSGBRD</h1>
      <div>
        <% if (user) { %>
          <h4 class="username"><%= user.username %></h4>
        <% } %>
        <nav>
          <a href="/">back home</a>
          <% if (user) { %>
            <a class="ml-1" href="/signout">sign out</a>
          <% } else { %>
            <a class="ml-1" href="/signin">sign in</a>
            <a class="ml-1" href="/signup">sign up</a>
          <% } %>
        </nav>
      </div>
    </header>
    <main>
      <form class="mt-2" method="POST" action="/new">
        <label for="title">TITLE</label>
        <input class="mt-1" type="text" name="title" id="title" required autofocus>
        <label class="mt-2"for="post">POST</label>
        <textarea class="mt-1" rows="3" cols="25" name="post" id="post" required></textarea>
        <button class="mt-2" type="submit">SUBMIT</button>
      </form>
    </main>
  </body>
</html>
