<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <h1>SIGN UP</h1>
      <nav>
        <a href="/">back home</a>
        <a class="ml-1" href="/signin">sign in</a>
      </nav>
      <form class="mt-2" method="POST" action="/signup">
        <label for="title">USERNAME</label>
        <input class="mt-1" type="text" name="name" id="name" required autofocus>
        <label class="mt-2"for="post">PASSWORD</label>
        <input class="mt-1" type="password" name="pswd" id="pswd" required>
        <button class="mt-2" type="submit">SUBMIT</button>
      </form>
    </main>
  </body>
</html>
